/*variable and font declaration*/
@font-face {
    font-family: "figtree-semiBold";
    src: url(../assets/fonts/static/Figtree-SemiBold.ttf);
}
@font-face {
    font-family: "figtree-extraBold";
    src: url(../assets/fonts/static/Figtree-ExtraBold.ttf);
}
:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --white-optional: hsl(0, 14%, 95%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
    --font-figtree-semiBold: "figtree-semiBold";
    --font-figtree-extraBold: "figtree-extraBold";
}
/* resets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
q, blockquote, cite{
    quotes: none;
}
a{
    text-decoration: none;
    color: var(--Black);
}
/*layout*/
body{
    min-height: 100vh;
    font-family: var(--font-figtree-semiBold);
    color: var(--Black);
    background-color: var(--Yellow);
    display: grid;
    grid-template-areas: 
    "main"
    "footer";
    grid-template-rows: auto 10%;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
main, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*card container*/
#card-container{
    max-width: 380px;
    padding: 20px;
    margin: 0 1.5em;
    border-radius: 20px;
    box-shadow: 10px 10px var(--Black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}
#card-container:hover{
    box-shadow: 15px 15px var(--Black);
}
#card-container h1:hover{
    cursor: pointer;
    color: var(--Yellow);
}
#card-container > img{
    width: 100%;
    border-radius: 15px;
}
#card-container h1{
    font-size: 1.5rem;
}
#card-container p:first-of-type{
    padding: 6px 11px;
    border-radius: 5px;
    background-color: var(--Yellow);
}
#card-container p + p{
    font-size: .91rem;
}
#card-container :is(h1, p:first-of-type, q), #attr-container{
    font-family: var(--font-figtree-extraBold);
}
#card-container p:last-of-type{
    color: var(--Grey);
}
#quotation-container{
    quotes: none;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0 1em;
}
#quotation-container > img{
    height: 36px;
}
#card-container, #attr-container{
    background-color: var(--White);
}
/*attribution container*/
#attr-container{
    align-self: center;
    max-width: 340px;
    font-family: var(--font-figtree-semiBold);
    text-align: center;
    padding: 3px;
    margin: 0 1.5em;
    border-radius: 10px;
    box-shadow: 8px 5px var(--Black);
}
#attr-container *{
    display: inline;
}
#attr-container a:hover{
    font-family: var(--font-figtree-extraBold);
    color: var(--Yellow);
}
#attr-container:hover{
    box-shadow: 10px 8px var(--Black);
}
/*media queries*/
@media only screen and (orientation:landscape) {
    #card-container, #attr-container{
        margin: 3% 0;
    }
}